/* Seccion del Titulo */

#sec-titulo {
  max-width: 100%;
  display: flex;
  padding: 50px;
}

.sec-titulo_contenedor-imagen img {
  width: 350px;
  margin: 15px;
}

.sec-titulo_contenedor-texto {
  width: 60%;
}

.sec-titulo_contenedor-texto p {
  font-size: 14px;
  line-height: 1.5;
}

/* Seccion del Contenido */

#sec-contenido {
  max-width: 100%;
  padding: 50px;
  background-color: rgb(245, 245, 245);
}

#sec-contenido p {
  font-size: 14px;
}

.sec-contenido_contenedor-botones {
  padding: 25px 50px 50px 50px;
  display: flex;
  justify-content: center;
}

.contenido-boton {
  border-radius: 10px;
  margin: 25px;
  width: 400px;
  padding: 30px 40px;
  color: #fff;
  font-size: 28px;
  text-decoration: none;
  display: flex;
  align-items: center;
}

.contenido-boton img {
  height: 60px;
  margin-right: 5px;
}
