.sec-titulo .img {
  font-size: 18px;
  padding: 45px;
  
}

.boton-paso {
  background-color: var(--magenta);
  border-radius: 5px;
  padding: 5px;
  color: #fff;
  font-size: 10px;
  text-transform: uppercase;
  text-align: center;
  display: inline-block;
  text-decoration: none;
}

.boton-paso:hover {
  background-color: var(--gris-claro);
}

.boton-generales {
  background-color: var(--celeste);
  border-radius: 5px;
  padding: 5px;
  color: #fff;
  font-size: 10px;
  text-transform: uppercase;
  text-align: center;
  display: inline-block;
  text-decoration: none;
}

.boton-generales:hover {
  background-color: var(--gris-claro);
}

.informes-activate {
  border-radius: 15px;
  border: solid white 1px;
  padding: 5px;
  color: #fff;
  font-size: 10px;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

.informes:hover {
  background-color: var(--gris-claro);
}

#sec-contenido {
  text-align: center;

  
}

.paso {
  background-color: var(--magenta);
  border-radius: 10px;
  margin: 25px;
  height: 100px;
  width: 400px;
  padding: 1rem;
  color: #fff;
  font-size: 28px;
}

.generales {
  background-color: var(--celeste);
  border-radius: 10px;
  margin: 25px;
  height: 100px;
  width: 400px;
  padding: 1rem;
  color: #fff;
  font-size: 28px;
}

#sec-titulo {
  margin: 15px;
  width: 350px;
  
}

#sec-contenido {
  text-align: center;

  
}

.contenido-boton {
  border-radius: 10px;
  margin: 25px;
  height: 100px;
  width: 400px;
  padding: 1rem;
  color: #fff;
  font-size: 28px;
  text-align: center;
}

.contenido-boton img {
  height: 40px;
  width: 40px;
}

/*Correccion de Botones, Paso  y Generales*/

.botones-container {
  display: inline-flex; 
}

/*Generamos estilos para los botones*/
.paso,
.generales {
  margin-right: 10px; 
}


.boton-imagen {
  vertical-align: middle; 
}


