.boton-paso {
  background-color: var(--magenta);
  border-radius: 5px;
  padding: 10px;
  color: #fff;
  text-align: center;
  display: inline-block;
  text-transform: uppercase;
  width: 100px;
  height: 15px;
}

.boton-paso:hover {
  background-color: var(--gris-claro);
}

.boton-generales {
  background-color: var(--celeste);
  border-radius: 5px;
  padding: 10px;
  color: #fff;
  text-align: center;
  display: inline-block;
  text-transform: uppercase;
  width: 100px;
  height: 15px;
}

.boton-generales:hover {
  background-color: var(--gris-claro);
}

.informes-activate {
  border-radius: 10px;
  border: solid white 1px;
  padding: 10px;
  color: #fff;
  text-align: center;
  display: inline-block;
  text-transform: uppercase;
  width: 100px;
  height: 15px;
}

.informes-activate:hover {
  background-color: var(--gris-claro);
}

.paso {
  background-color: var(--magenta);
  border-radius: 10px;
  margin: 25px;
  height: 100px;
  width: 400px;
  padding: 1rem;
  color: #fff;
  font-size: 28px;
}

.generales {
  background-color: var(--celeste);
  border-radius: 10px;
  margin: 25px;
  height: 100px;
  width: 400px;
  padding: 1rem;
  color: #fff;
  font-size: 28px;
}

/* MAIN */
#sec-titulo {
  display: flex;
  justify-content: center;
  width: 100%;
}

.contenedor-imagen {
  width: 50%;
}

.imagen-data {
  padding: 50px;
}

.titulo-elecciones {
  padding-top: 50px;
}

#sec-contenido {
  text-align: center;
}

#sec-contenido p {
  font-size: 14px;
}

.contenido-boton {
  border-radius: 10px;
  margin: 25px;
  height: 100px;
  width: 400px;
  padding: 1rem;
  color: #fff;
  font-size: 28px;
  text-align: center;
}

/*Correccion de Botones, Paso  y Generales*/
.botones-container {
  display: inline-flex;
}

/*Generamos estilos para los botones*/
.paso a,
.generales a {
  margin-right: 10px;
  display: flex;
  align-items: center;
  color: white;
}

.boton-imagen {
  vertical-align: middle;
}

main {
  height: 100vh;
}
