/* BARRA MENU */
.boton-paso {
  background-color: var(--magenta);
  border-radius: 5px;
  padding: 10px;
  color: #fff;
  text-align: center;
  display: inline-block;
  text-transform: uppercase;
  width: 100px;
  height: 15px;
}

.boton-paso:hover {
  background-color: var(--gris-claro);
}

.boton-generales {
  background-color: var(--celeste);
  border-radius: 5px;
  padding: 10px;
  color: #fff;
  text-align: center;
  display: inline-block;
  text-transform: uppercase;
  width: 100px;
  height: 15px;
}

.boton-generales:hover {
  background-color: var(--gris-claro);
}

.boton-inicio {
  background-color: var(--gris-claro);
  border-radius: 5px;
  padding: 10px;
  color: #fff;
  text-align: center;
  display: inline-block;
  text-transform: uppercase;
  width: 100px;
  height: 15px;
}

.boton-inicio:hover {
  background-color: var(--textos);
}

/* RECUADROS DE INFORMACION */
.exito {
  color: #ffffff;
  background-color: var(--mensaje-usuario-verde);
  border-style: solid;
  border-radius: 10px;
  margin: 20px auto;
  border-width: 0px;
  padding: 15px;
  font-style: #ffffff;
  font-size: 15px;
  font-weight: 200;
  text-align: center;
  width: 500px;
}

.error {
  color: #ffffff;
  background-color: var(--mensaje-usuario-rojo);
  border-style: solid;
  border-radius: 10px;
  margin: 20px auto;
  border-width: 0px;
  padding: 15px;
  font-style: #ffffff;
  font-size: 15px;
  font-weight: 200;
  text-align: center;
  width: 500px;
}

.completar {
  color: #ffffff;
  background-color: var(--mensaje-usuario-amarillo);
  border-style: solid;
  border-radius: 10px;
  margin: 20px auto;
  border-width: 0px;
  padding: 15px;
  font-style: #ffffff;
  font-size: 15px;
  font-weight: 200;
  text-align: center;
  width: 500px;
}

table {
  border: solid 1px black;
}

.recuadros-informativos {
  display: flex;
  justify-content: center;
}

.informacion_titulo {
  font-weight: bold;
}

.recuadro {
  border-radius: 5px;
  margin: 2px;
  height: 70px;
  width: 120px;
  padding: 0.5rem 1rem;
  color: #fff;
  font-size: 12px;
  display: flex;
}

.recuadro_1 {
  background-color: var(--celeste);
}

.recuadro_2 {
  background-color: var(--magenta);
}

.recuadro_3 {
  background-color: var(--morado);
}

.informacion p {
  color: #fff;
}

.icono img {
  height: 50px;
  width: 50px;
}

/* Estilos para la grilla */
table {
  width: 1500px;
  margin: 0 auto 50px auto;
  border-radius: 15px;
  overflow: hidden;
  outline: 1px solid var(--borde-Grilla);
  border-collapse: collapse;
  background-color: rgb(250, 250, 250);
}

table thead {
  text-align: center;
  color: var(--titulo-Grilla);
  padding: 10px 20px;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  border-bottom: 1px solid var(--borde-inferior-Grilla);
}

/* Estilos para el cuerpo */
tbody tr:hover {
  background-color: lightgray;
  cursor: pointer;
  z-index: 10;
}

table tbody td {
  border-bottom: 1px solid var(--borde-inferior-Grilla);
  padding: 15px 0;
  font-size: 12px;

  vertical-align: top;
}

table svg {
  height: 200px;
}

.columna_elecciones {
  padding: 25px;
  text-align: start;
}

.texto-elecciones-chico {
  font-size: 12px;
  color: var(--textos);
  font-weight: bold;
}

.texto-path-chico {
  font-size: 11px;
  color: var(--celeste);
}

.contenedor_agrupacion {
  width: 100%;
  height: 325px;
  overflow-y: scroll;
  padding: 5px;
  color: var(--textos);
}

.datos_agrupacion {
  padding: 20px;
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.agrupacion_nombre {
  font-weight: bold;
  font-size: 11px;
}

.datos_agrupacion p {
  font-size: 12px;
  margin: 5px;
}
