.filtrar {
  background-color: white;
  border-radius: 15px;
  padding: 5px;
  font-family: Arial, sans-serif;
  font-size: 10px;
  text-transform: uppercase;
  text-align: center;
  color: var(--textos);
  display: inline-flex;
  align-items: center;

}

/*Boton inicio con hover */

.boton-inicio {
  background-color: var(--gris-claro);
  color: white;
  font-size: 10px;
  padding: 5px;
  border-radius: 5px;
  text-transform: uppercase;
  display: inline-block;
  transition: color 0.3s;
  text-decoration: none;
  text-align: center;
  justify-content: flex-end;
}

.boton-inicio:hover {
  color: var(--textos);
}

/*Boton Generales con hover */

.boton-generales {
  background-color: var(--celeste);
  border-radius: 5px;
  padding: 5px;
  color: #fff;
  font-size: 10px;
  text-transform: uppercase;
  text-align: center;
  display: inline-block;
  text-decoration: none;
}

.boton-generales:hover {
  background-color: var(--gris-claro);
}

/*Boton Informes con hover */

.informes-activate {
  background-color: var(--gris-claro);
  color: white;
  font-size: 10px;
  text-align: center;
  padding: 5px;
  border-radius: 5px;
  text-transform: uppercase;
  display: inline-block;
  transition: color 0.3s;
  text-decoration: none;
}

.informes-activate:hover {
  color: var(--textos);
}

select {
  background: transparent;
  border: none;
  font-size: 14px;
  height: 30px;
  padding: 5px;
  color: var(--celeste);
  font-weight: bold;
}

.exito {
  color: #FFffFF;
  background-color: var(--mensaje-usuario-verde);
  border-style: solid;
  border-radius: 10px;
  margin: 20px auto;
  border-width: 2px;
  padding: 15px;
  font-style: #FFffFF;
  font-size: 16px;
  font-weight: 200px;
  text-align: center;
  width: 400px;
}

.error {
  color: #FFffFF;
  background-color: var(--mensaje-usuario-rojo);
  border-style: solid;
  border-radius: 10px;
  margin: 20px auto;
  border-width: 2px;
  padding: 15px;
  font-style: #FFffFF;
  font-size: 16px;
  font-weight: 200px;
  text-align: center;
  width: 450px;
}

.completar {
  color: #FFffFF;
  background-color: var(--mensaje-usuario-amarillo);
  border-style: solid;
  border-radius: 10px;
  margin: 20px auto;
  border-width: 2px;
  padding: 15px;
  font-style: #FFffFF;
  font-size: 16px;
  font-weight: 200px;
  text-align: center;
  width: 400px;
}

.texto-path {
  font-size: 14px;
  color: var(--celeste);

}

.botonInforme {
  background-color: rgba(185, 184, 184, 0.596);
  color: white;
  font-size: 10px;
  text-align: center;
  padding: 5px;
  border-radius: 5px;
  text-transform: uppercase;
}

.recuadros-informacion {
  border-radius: 10px;
  margin: 15px;
  height: 70px;
  padding: 0.5rem 1rem;
  color: #fff;
  font-size: 12px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.mesas-escrutadas {
  background-color: var(--celeste);
  border-radius: 10px;
  margin: 15px;
  height: 70px;
  width: 184px;
  padding: 0.5rem 1rem;
  color: #fff;
  font-size: 12px;
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.electores {
  background-color: var(--magenta);
  border-radius: 10px;
  margin: 15px;
  height: 70px;
  width: 184px;
  padding: 0.5rem 1rem;
  color: #fff;
  font-size: 12px;
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

}

.escrutado {
  color: white;
  background-color: var(--morado);
  border-radius: 10px;
  margin: 15px;
  height: 70px;
  width: 184px;
  padding: 0.5rem 1rem;
  font-size: 12px;
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}




/*----------- Seccion del Contenido -----------*/



#sec-contenido {
  max-width: 100%;
  padding: 50px;
}

.boton_agregar_informe:hover {
  color: var(--textos);
  cursor: pointer;
}

.recuadros-informativos {
  display: flex;
  justify-content: center;
}

/*recuadros estadisticas*/


#recuadros_agrupaciones_politicas {
  display: flex;

}

.contenedor-seccion-agrupaciones-politicas {
  border-radius: 25px;
  padding: 15px;
  border: 1px var(--borde-Grilla) solid;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  height: 420px;
  width: 100%;

}


.distrito {
  width: 30%;
  margin-left: 15px;
  margin-right: 15px;
}

.recuadro {

  border-radius: 10px;
  margin: 15px;
  height: 70px;
  width: 184px;
  padding: 0.5rem 1rem;
  font-size: 12px;
  display: flex;
}


.contenedor-agrupaciones-politicas {
  overflow-y: scroll;
  height: 325px;
}

.agrupaciones-politicas {
  font-size: 11px;
  color: var(--textos);
  padding: 5px;
  text-transform: uppercase;

}

.titulo_agrupacion {
  font-weight: bold;
  font-size: 12px;
  padding-bottom: 10px;
  border-bottom: 1px solid var(--borde-Grilla);

}


.grafico_votos {
  text-align: center;
}


h3 {
  font-weight: bold;
  padding: 1.8em 0 0 0;
  text-align: center;
  white-space: nowrap;
}

.partido_descripcion_contenedor {
  display: flex;
}

.partido_titulo {
  flex-grow: 1;
  font-size: 11px;
  font-weight: 800;
}

/*barra de progreso*/
.progress {
  height: 35px;
  width: 100%;
  border-radius: 5px;
  margin-bottom: 15px;
}

.progress-bar {
  height: 100%;
  display: flex;
  align-items: center;
  transition: width 0.25s;
  border-radius: 5px;
}

.progress-bar-text {
  margin-left: 10px;
  font-weight: bold;
  color: var(--textos);
  font-size: 9px;
}



.contenedor-mapa {
  display: flex;
  align-items: center;
  flex-direction: column;

}

.mapa {
  height: 100%;
}

.mapa path {
  height: 400px;
  width: 400px;
}


.chart-wrap {
  --chart-width: 260px;
  --grid-color: #aaa;
  --bar-thickness: 25px;
  --bar-rounded: 3px;
  --bar-spacing: 10px;
  font-family: sans-serif;
  width: var(--chart-width);
  margin-left: 30px;
}

.chart-wrap .title {
  font-weight: bold;
  padding: 1.8em 0 2.8em;
  text-align: center;
  white-space: nowrap;
}

/* cuando definimos el gráfico en horizontal, lo giramos 90 grados */
.chart-wrap.horizontal .grid {
  transform: rotate(-90deg);

}

.chart-wrap.horizontal .bar::after {
  /* giramos las letras para horizontal*/
  transform: rotate(45deg);
  padding-top: 0px;
  display: block;
}

.chart-wrap .grid {
  margin-left: 50px;
  position: relative;
  padding: 5px 0 5px 0;
  height: 100%;
  width: 100%;
  border-left: 2px solid var(--grid-color);
  font-size: 10px;
}


.chart-wrap .grid::before {
  font-size: 0.8em;
  font-weight: bold;
  content: '0%';
  position: absolute;
  left: -0.5em;
  top: -1.5em;
}

.chart-wrap .grid::after {
  font-size: 0.8em;
  font-weight: bold;
  content: '100%';
  position: absolute;
  right: -1.5em;
  top: -1.5em;
}

/* giramos las valores de 0% y 100% para horizontal */
.chart-wrap.horizontal .grid::before,
.chart-wrap.horizontal .grid::after {
  transform: rotate(90deg);
}

.chart-wrap .bar {
  width: var(--bar-value);
  height: var(--bar-thickness);
  margin: var(--bar-spacing) 0;
  background-color: var(--bar-color);
  border-radius: 0 var(--bar-rounded) var(--bar-rounded) 0;
}

.chart-wrap .bar:hover {
  opacity: 0.7;
}

.chart-wrap .bar::after {
  content: attr(data-name);
  margin-left: 100%;
  padding: 10px;
  display: inline-block;
  white-space: nowrap;
}