/*----------- Barra de menú ----------- */

.barra-navegacion div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.barra-navegacion div form {
  padding-left: 50px;
}

.barra-navegacion div form select {
  margin-right: 15px;
  background-color: transparent;
  border: none;
  outline: none;
  font-size: 14px;
  height: 30px;
  color: var(--celeste);
  font-weight: bold;
  cursor: pointer;
}

#años {
  min-width: 50px;
  max-width: 50px;
}

#cargos {
  min-width: 58px;
  max-width: 58px;
}

#distritos {
  min-width: 67px;
  max-width: 67px;
}

#secciones {
  min-width: 71px;
  max-width: 30px;
}

.boton_filtrar {
  background-color: white;
  border-radius: 20px;
  padding: 4px 23px;
  color: var(--textos);
  text-transform: uppercase;
  text-align: center;
  border: none;
  cursor: pointer;
}

.icon_boton_filtrar {
  padding: 5px;
  font-size: 13px !important;
}

/*----------- Seccion del Titulo -----------*/

#sec-titulo {
  max-width: 100%;
  padding: 50px;
}

.texto-path {
  font-size: 14px;
  color: var(--celeste);
}

/*----------- Seccion del Contenido -----------*/

#sec-contenido {
  max-width: 100%;
  padding: 50px;
}

.sec-contenido_contenedor-nuevoinforme {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.boton_agregar_informe {
  background-color: var(--gris-claro);
  color: white;
  padding: 15px 45px;
  text-align: center;
  height: 100%;
  border-radius: 5px;
  text-transform: uppercase;
  border: none;
}

.boton_agregar_informe:hover {
  color: var(--textos);
  cursor: pointer;
}

.recuadros-informativos {
  display: flex;
  justify-content: center;
}

/* RECUADROS */

.informacion_titulo {
  font-weight: bold;
}

#recuadros_estadisticas {
  display: flex;
}

.contenedor-seccion-estadisticas {
  border-radius: 25px;
  padding: 15px;
  border: 1px var(--borde-Grilla) solid;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  height: 420px;
  width: 100%;
}

.distrito {
  width: 30%;
  margin-left: 15px;
  margin-right: 15px;
}

.recuadro {
  border-radius: 10px;
  margin: 15px;
  height: 70px;
  width: 184px;
  padding: 0.5rem 1rem;
  font-size: 12px;
  display: flex;
}

.recuadro_1 {
  background-color: var(--celeste);
}

.recuadro_2 {
  background-color: var(--magenta);
}

.recuadro_3 {
  background-color: var(--morado);
}

.informacion p {
  color: #fff;
}

.icono img {
  height: 50px;
  width: 50px;
}

.contenedor-agrupaciones {
  overflow-y: auto;
  height: 325px;
}

.agrupacion {
  font-size: 11px;
  color: var(--textos);
  padding: 5px;
  text-transform: uppercase;
}

.titulo_agrupacion {
  font-weight: bold;
  font-size: 12px;
  padding-bottom: 10px;
  border-bottom: 1px solid var(--borde-Grilla);
}

.grafico_votos {
  text-align: center;
}

h3 {
  font-weight: bold;
  padding: 0 0 0 0;
  text-align: center;
  white-space: nowrap;
}

.partido_descripcion_contenedor {
  display: flex;
}

.partido_titulo {
  flex-grow: 1;
  font-size: 11px;
  font-weight: 800;
}

/*barra de progreso*/
.progress {
  height: 35px;
  width: 100%;
  border-radius: 5px;
  margin-bottom: 15px;
}

.progress-bar {
  height: 100%;
  display: flex;
  align-items: center;
  transition: width 0.25s;
  border-radius: 5px;
}

.progress-bar-text {
  margin-left: 10px;
  font-weight: bold;
  color: var(--textos);
  font-size: 9px;
}

.contenedor-mapa {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.mapa {
  height: 500px;
}

.mapa path {
  height: 400px;
  width: 400px;
}

.chart-wrap {
  --chart-width: 260px;
  --grid-color: #aaa;
  --bar-thickness: 25px;
  --bar-rounded: 3px;
  --bar-spacing: 10px;
  font-family: sans-serif;
  width: var(--chart-width);
  margin-left: 30px;
}

.chart-wrap .title {
  font-weight: bold;
  padding: 1.8em 0 2.8em;
  text-align: center;
  white-space: nowrap;
}

/* cuando definimos el gráfico en horizontal, lo giramos 90 grados */
.chart-wrap.horizontal .grid {
  transform: rotate(-90deg);
}

.chart-wrap.horizontal .bar::after {
  /* giramos las letras para horizontal*/
  transform: rotate(45deg);
  padding-top: 0px;
  display: block;
}

.chart-wrap .grid {
  margin-left: 25px;
  margin-top: 50px;
  position: relative;
  padding: 5px 0 5px 0;
  height: 100%;
  width: 100%;
  border-left: 2px solid var(--grid-color);
  font-size: 10px;
}

.chart-wrap .grid::before {
  font-size: 0.8em;
  font-weight: bold;
  content: "0%";
  position: absolute;
  left: -0.5em;
  top: -1.5em;
}

.chart-wrap .grid::after {
  font-size: 0.8em;
  font-weight: bold;
  content: "100%";
  position: absolute;
  right: -1.5em;
  top: -1.5em;
}

/* giramos las valores de 0% y 100% para horizontal */
.chart-wrap.horizontal .grid::before,
.chart-wrap.horizontal .grid::after {
  transform: rotate(90deg);
}

.chart-wrap .bar {
  width: var(--bar-value);
  height: var(--bar-thickness);
  margin: var(--bar-spacing) 0;
  background-color: var(--bar-color);
  border-radius: 0 var(--bar-rounded) var(--bar-rounded) 0;
}

.chart-wrap .bar:hover {
  opacity: 0.7;
}

.chart-wrap .bar::after {
  content: attr(data-name);
  margin-left: 100%;
  padding: 10px;
  display: inline-block;
  white-space: nowrap;
}
